* {
  font-family: Helvetica, Arial, san-serif;
}

body {
  padding: 0 30px 0 30px;
}

header {
  height: 100px;
  border-bottom: 1px solid #CCC;
}

header nav {
  float:right;
}

nav ul {
  padding: 0 0 0 0;
  margin: 40px 0 0 0;
}

nav ul li {
  display: inline;
  margin: 0 10px 0 0;
}

nav a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
  color: #0056b3;
}

h3#header {
  float: left;
  font-size: 30px;
}

#header a {
  text-decoration: none;
  color: #868e96
}

#header a:hover {
  text-decoration: underline;
}

main {
  margin-top: 20px;
}

div.jumbotron {
  border-radius: : 5px 5px 5px 5px;
  background-color: 
}