* {
  font-family: "Helvetica", "Arial", "san-serif";
}

body {
  padding-left: 30px;
  padding-right: 30px;
}

header {
  height: 100px;
  border-bottom: 1px solid #ccc;

}

header nav {
  float: right;
}

nav ul {
  padding: 0;
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: #007bff;
}

nav a:hover {
  text-decoration: underline;
  color: #0056b3;
}
h3#header {
  font-size: 30px;
  float: left;
}

#header a {
  text-decoration: none;
  color: #868e96;
}

#header a:hover {
  text-decoration: underline;
}

main {
  margin-top: 20px;
}

div.jumbotron {
  border-radius: 5px;
  background-color: #e9ecef;
  padding: 10px;
  text-align: center;
}

.jumbotron h1 {
  font-size: 60px;
}

.jumbotron p {
  font-size: 20px;
  padding: 0 40px 0 40px;
  line-height: 40px;
}

div.questions {
  padding: 0 20px 0 20px;
}

div.questions h4 {
  font-size: 30px;
  margin-bottom: 10px;
  }
div.questions p {
  margin-top: 30px;
}

div.questions a.btn {
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  text-decoration: none;
  padding: 18px;
  font-size: 20px;
}

div.questions a.btn:hover {
  background-color: #0069d9;
  border-color: #0069d9;
}

footer {
  border-top: solid 1px #ccc;
  margin-top: 80px;
  padding-top: 20px;
  color: #ccc;
}
